n8n/gmail-send.n8ncloud.json
{
  "name": "HQ Gmail Send",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hq-gmail-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hq-gmail-send"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "secret-1",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "f0dd6d7d89339fab44a3315348fa6641e1e2f2a708ba1cad",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Check secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "emailType": "text",
        "message": "={{ $json.body.body }}",
        "options": {
          "bccList": "={{ $json.body.bcc || '' }}",
          "appendAttribution": false
        }
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, -100],
      "webhookId": "",
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"id\": $json.id || $json.threadId || \"sent\" } }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { \"error\": \"unauthorized\" } }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 120]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Check secret", "type": "main", "index": 0 }]] },
    "Check secret": {
      "main": [
        [{ "node": "Gmail Send", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Send": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
