n8n/linkedin-company.workflow.json
{
  "name": "HQ LinkedIn Company Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hq-linkedin-company",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c2000000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hq-linkedin-company"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "secret-1",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "f0dd6d7d89339fab44a3315348fa6641e1e2f2a708ba1cad",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2000000-0000-4000-8000-000000000002",
      "name": "Check secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "create",
        "person": "",
        "text": "={{ $json.body.text }}",
        "additionalFields": {}
      },
      "id": "c2000000-0000-4000-8000-000000000003",
      "name": "LinkedIn Create",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [460, -100],
      "credentials": {},
      "notes": "After importing: open this node, choose LinkedIn OAuth2 credential, Sign in, then set Person/Organization to your Intro company page."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"id\": $json.id || $json.urn || \"posted\", \"url\": $json.url || null } }}",
        "options": {}
      },
      "id": "c2000000-0000-4000-8000-000000000004",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { \"error\": \"unauthorized\" } }}",
        "options": {}
      },
      "id": "c2000000-0000-4000-8000-000000000005",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 120]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Check secret", "type": "main", "index": 0 }]] },
    "Check secret": {
      "main": [
        [{ "node": "LinkedIn Create", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "LinkedIn Create": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "notes": "Import into local n8n, connect LinkedIn OAuth, choose company/organization as the post author, Activate."
}
